<div class="error-500">
    <div class="error-code m-b-10 m-t-20">500 <i class="fa fa-warning"></i></div>
    <h2 class="font-bold">Ooops!</h2>

    <div class="error-desc">
        Sorry, something went wrong. Please try later! <br/>
        <div><br/>
            <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
        </div>
    </div>
    <br/>
</div>